openapi: 3.0.0
info:
  contact: {}
  description: This REST API provides endpoints to get analyst report details.
  termsOfService: http://swagger.io/terms/
  title: Analyst Reports Raw Text API
  version: 1.0.0
paths:
  /api/v1/analyst/reports/raw-text:
    get:
      description: Get Analyst Reports Raw Text Data
      operationId: get-analyst-reports-raw-text-data
      parameters:
        - description: Page number
          in: query
          name: page
          schema:
            type: integer
        - description: Page size
          in: query
          name: pagesize
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/models.AnalystReportRawText"
                type: array
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
      security:
        - ApiKeyAuth: []
      summary: Get Analyst Reports Raw Text Data
      tags:
        - Analyst Reports Raw Text
components:
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
  schemas:
    models.AnalystReportRawText:
      properties:
        date:
          type: string
        exchange:
          type: string
        extracted_paragraphs:
          items:
            type: string
          type: array
        firm_id:
          type: string
        id:
          type: string
        ticker:
          type: string
      type: object
servers:
  - url: https://api.benzinga.com/api/v1
    description: V1
