openapi: 3.0.0
info:
  contact: {}
  description: This REST API provides endpoints to search for logos and get logo details.
  termsOfService: http://swagger.io/terms/
  title: Logo API
  version: 2.1.0
paths:
  /logos/bulk-sync:
    get:
      description: Get Logos for given search keys
      operationId: logo-bulk-sync
      parameters:
        - description: Search Keys
          in: query
          name: search_keys
          required: true
          schema:
            type: string
        - description: Search Keys Type
          in: query
          name: search_keys_type
          schema:
            type: string
        - description: Fields
          in: query
          name: fields
          required: true
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - description: Page
          in: query
          name: page
          schema:
            type: integer
        - description: Page Size
          in: query
          name: pagesize
          schema:
            type: integer
        - description: Updated At From
          in: query
          name: updated_since
          schema:
            type: string
        - description: Scale
          in: query
          name: scale
          schema:
            type: string
        - description: Composite Radius
          in: query
          name: composite_radius
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bzhttp.Resp"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bzhttp.Resp"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bzhttp.Resp"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bzhttp.Resp"
      security:
        - ApiKeyAuth: []
      summary: Get Logos for given search keys
      tags:
        - logos
  /logos/search:
    get:
      description: Get Logos for given search keys
      operationId: get-search-logos
      parameters:
        - description: Search Keys
          in: query
          name: search_keys
          required: true
          schema:
            type: string
        - description: Search Keys Type
          in: query
          name: search_keys_type
          schema:
            type: string
        - description: Fields
          in: query
          name: fields
          required: true
          schema:
            type: string
        - description: Composite Auto
          in: query
          name: composite_auto
          schema:
            type: boolean
        - description: Composite Radius
          in: query
          name: composite_radius
          schema:
            type: integer
        - description: Scale
          in: query
          name: scale
          schema:
            type: string
        - description: Max Width
          in: query
          name: max_width
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/logoapi.LogoRevision"
                type: array
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bzhttp.Resp"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bzhttp.Resp"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bzhttp.Resp"
      security:
        - ApiKeyAuth: []
      summary: Get Logos for given search keys
      tags:
        - logos
components:
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
  schemas:
    bzhttp.Error:
      properties:
        code:
          $ref: "#/components/schemas/bzhttp.ErrorCode"
        id:
          type: string
        value:
          type: string
      type: object
    bzhttp.ErrorCode:
      enum:
        - unsupported_message_type
        - database_query_error
        - json_unmarshaling_error
        - no_data_found
        - no_matching_endpoint
        - bad_request
        - db_error
        - internal_server_error
        - auth_failed
        - forbidden
        - failed_dependency
        - service_unavailable
        - upstream_api_error
      type: string
      x-enum-varnames:
        - ErrorUnsupportedMessageType
        - ErrorDBQueryError
        - ErrorJSONUnmarshaling
        - ErrorNoDataFound
        - ErrorNoMatchingEndpoint
        - ErrorBadRequest
        - ErrorDBError
        - ErrorInternalServerError
        - ErrorAuthFailed
        - ErrorForbidden
        - ErrorFailedDependency
        - ErrorServiceUnavailable
        - ErrorUpstreamAPIError
    bzhttp.Resp:
      properties:
        data:
          additionalProperties: true
          type: object
        errors:
          items:
            $ref: "#/components/schemas/bzhttp.Error"
          type: array
        ok:
          type: boolean
      type: object
    logoapi.LogoColors:
      properties:
        background_dark:
          type: string
        background_light:
          type: string
      type: object
    logoapi.LogoRevision:
      properties:
        colors:
          $ref: "#/components/schemas/logoapi.LogoColors"
        company_cik:
          type: string
        company_url:
          type: string
        created_at:
          type: string
        deleted_at:
          type: string
        files:
          $ref: "#/components/schemas/logoapi.LogoRevisionFiles"
        id:
          type: string
        isin:
          type: string
        last_audited:
          type: string
        mic_code:
          type: string
        symbol:
          type: string
        type:
          type: string
        updated_at:
          type: string
        updated_by_user_id:
          type: string
      type: object
    logoapi.LogoRevisionFiles:
      properties:
        logo_dark:
          type: string
        logo_light:
          type: string
        logo_vector_dark:
          type: string
        logo_vector_light:
          type: string
        mark_composite_dark:
          type: string
        mark_composite_light:
          type: string
        mark_dark:
          type: string
        mark_light:
          type: string
        mark_vector_composite_dark:
          type: string
        mark_vector_composite_light:
          type: string
        mark_vector_dark:
          type: string
        mark_vector_light:
          type: string
      type: object
servers:
  - url: https://api.benzinga.com/api/v2
    description: V2
  - url: https://api.benzinga.com/api/v2.1
    description: V2.1
